<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todos">Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/consigna">Consigna</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- Comente el codigo anterior ya que al usar tailwind en vez de Bootstrap se rompian los estilos -->


<nav class="bg-gray-800 mb-4">
  <div class="container mx-auto px-4 py-2">
    <div class="flex justify-between items-center">
      <a href="#" class="text-white text-lg font-semibold">Mi Sitio</a>
      <ul class="flex space-x-4">
        <li>
          <a href="/home" class="text-white">Home</a>
        </li>
        <li>
          <a href="/todos" class="text-white">Todos</a>
        </li>
        <li>
          <a href="/consigna" class="text-white">Consigna</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<router-outlet></router-outlet>
